.row.animate-hide(ng-hide='isGameStarted')
  .col-xs-12
    .form-inline
      .form-group
        label 名前:
          | 
          input.form-control(ng-model='name', ng-init='name = "あなた"', style='max-width: 120px')
.row.animate-hide(ng-hide='isGameStarted')
  .col-xs-6
    .form-inline
      .form-group
        label {{name}}が思い浮かべた数:
          | 
          input.form-control(ng-model='playerNumber', style='max-width: 80px', placeholder='例：123', maxlength='3')
      | 
      .checkbox
        label
          input(ng-model='playerFirst', ng-init='playerFirst = true', type='checkbox')
          |  先攻
      | 
      button.btn.btn-default(ng-click='start(playerNumber, playerFirst)') ゲーム開始
  .col-xs-6
    .form-inline
      .form-group
        label ぬめぐれが思い浮かべた数:
          | 
          input.form-control(ng-model='aiNumer', style='max-width: 80px', readonly)
.row.animate-hide(ng-show='isGameStarted')
  .col-xs-6
    h2(style='font-size: x-large') {{name}}
    .form-inline
      .form-group
        label 予想した数:
          | 
          input.form-control(ng-model='lastPlayerAttack', ng-disabled='wait || !isPlayerTurn', style='max-width: 80px', placeholder='例：123', maxlength='3')
        | 
        button.btn.btn-default(ng-click='call()', ng-disabled='wait || !isPlayerTurn') コール
        | 
        button.btn.btn-default(ng-click='next()', ng-disabled='wait || isPlayerTurn') ぬめぐれのコール
    p
      span.animate-hide(ng-show='playerMessage.length > 0')
        「{{playerMessage}}」
  .col-xs-6
    h2(style='font-size: x-large') ぬめぐれ
    .form-inline
      .form-group
        label 予想した数:
          | 
          input.form-control(ng-model='lastAIAttack', style='max-width: 80px', readonly)
    p
      span.animate-hide(ng-show='aiMessage.length > 0')
        「{{aiMessage}}」
.row
  .col-xs-12
    .alert.alert-info.animate-hide(ng-show='info.length > 0') {{info}}
    .alert.alert-danger.animate-hide(ng-show='danger.length > 0') {{danger}}
.container.animate-hide(ng-show='done')
  button.btn.btn-default(ng-click='reset()') もう1回プレイする
.row.animate-hide(ng-show='isGameStarted')
  .col-xs-6
    h2(style='font-size: x-large') これまでの予想
    ul.list-unstyled
      li(ng-repeat='attack in playerAttacks') {{attack.item}}
  .col-xs-6
    h2(style='font-size: x-large') これまでの予想
    ul.list-unstyled
      li(ng-repeat='attack in aiAttacks') {{attack.item}}
.row(style='margin-top: 32px')
  .col-xs-12
    | Link
    p プログラミング配信者向けYP <a href='//dp.prgrssv.net'><b>Developer's YP</b></a>